ECR_REGISTRY=813562480144.dkr.ecr.eu-north-1.amazonaws.com
IMAGE_TAG=d8e647d2497fcabd69c7e259f6193ec82f7d394e

NODE_ENV=production
CLIENT_URL=http://your-ec2-public-ip
COOKIE_SECURE=false
COOKIE_SAME_SITE=strict

MONGO_URI=mongodb+srv://replace-with-your-atlas-uri
JWT_SECRET=replace-with-strong-secret
GEMINI_API_KEY=replace-with-gemini-key
NEWS_API_KEY=replace-with-news-api-key
SENDGRID_API_KEY=replace-with-sendgrid-api-key
VERIFIED_SENDER_EMAIL=replace-with-verified-sender-email
REDIS_DB_PASSWORD=
